.loginPage {
    &>div:not(:last-child) {
        margin-bottom: 25px;
    }
    &-id {
        display: flex;
        flex-direction: column;
        &>*:first-child {
            margin-bottom: 5px;
        }
    }
    &-login {
        &-button {
            
            height: 50px;
            &.MuiButton-root {
                font-size: 14px;
                border-radius: 25px;
                font-weight: bold;
            }
        }
    }
    &-bottom {
        display: flex;
        justify-content: center;
        &>p:not(:last-child)::after {
            content: '|';
            margin: 0 10px;
        }
        &>p {
            cursor: pointer;
        }
    }
}