.topbar {
    display: flex;
    &>a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        padding: 0 15px;
        &>p {
            font-size: 18px;
            color: $c444;
            font-weight: bold;
            margin-left: 10px;
            margin-right: 5px;
        }
    }
    &-selected {
        box-shadow: 0 -5px 0  $primary inset;
        color: $primary;
        &>p {
            color: $primary !important;
        }
    }
}

