.topbar {
    display: flex;
    &>a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        padding: 0 15px;
        &>p {
            font-size: 18px;
            color: $c444;
            font-weight: bold;
            margin-left: 10px;
            margin-right: 5px;
        }
    }
    &-selected {
        box-shadow: 0 -5px 0  $primary inset;
        color: $primary;
        &>p {
            color: $primary !important;
        }
    }
}

.topbarSM {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 3;
    justify-content: center;
    bottom: 0;
    box-shadow: 0 0 10px 5px rgb(0,0,0,0.1);
}